@media (max-width: 1199px) {
  .featured-product .product-title .product-list .pr-img .pr-img-sale {
    /* width: 44%; */ } }
@media (max-width: 991px) {
  header {
    position: relative; }
    header .hd-btnmenu {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      background: #9a4800;
      width: 60px;
      text-align: center;
      height: 60px;
      padding: 15px;
      z-index: 999; }
      header .hd-btnmenu i {
        font-size: 30px; }
    header .hd-logo {
      text-align: center; }
    header .hd-contact {
      float: left; }
    header .rowrelative {
      position: relative; }
      header .rowrelative .col-hd-menu {
        /* display: none; */
        position: fixed;
        top: -20px;
        left: -400px;
        text-align: left;
        transition: .8s;
        z-index: 5;
        height: 100%; }
        header .rowrelative .col-hd-menu .hd-menu {
          background: #9a4800;
          height: 100%; }
          header .rowrelative .col-hd-menu .hd-menu ul li {
            display: block; }
            header .rowrelative .col-hd-menu .hd-menu ul li a {
              background: #9a4800;
              color: #fff;
              width: 300px;
              border-bottom: solid 1px #fff;
              position: relative; }
              header .rowrelative .col-hd-menu .hd-menu ul li a i {
                position: absolute;
                right: 20px; }
            header .rowrelative .col-hd-menu .hd-menu ul li:last-child a {
              border: none; }
            header .rowrelative .col-hd-menu .hd-menu ul li ul {
              left: -500px;
              top: 0;
              transition: .3s; }
        header .rowrelative .col-hd-menu.active {
          left: -15px;
          transition: .8s; }
          header .rowrelative .col-hd-menu.active ul li ul {
            left: 100%;
            top: 0;
            transition: .3s; }

  .banner {
    display: none; }

  .featured-product .product-title .product-list .pr-img .pr-img-sale {
    /* width: 21%; */ } }
@media (max-width: 768px) {
  header .hd-btnmenu {
    height: 50px;
    padding: 12px;
    width: 50px;
    right: 10px;
    top: 10px; }
    header .hd-btnmenu i {
      font-size: 25px; }
  header .hd-logo img {
    width: 50px;
    height: 65px; }
  header .hd-contact {
    margin: 0;
    font-size: 12px; }
    header .hd-contact .contact-img img {
      width: 25px; }
    header .hd-contact:before {
      background: none; }

  .featured-product .product-title .product-list .pr-img .pr-img-sale {
    /* width: 24%; */ } }
@media (max-width: 480px) {
  header .hd-btnmenu {
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .hd-btnmenu i {
      font-size: 20px; }
  header .col-480-none {
    display: none; }
  header .col-480-100 {
    width: 100%; } }

/*# sourceMappingURL=media.css.map */
