@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: "fontawesome";
    src: url(../fonts/FontAwesome.otf);
}

body {
    font-family: "Roboto-Regular";
}

ul,
li,
a,
p {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: "Roboto-Regular";
    margin: 0;
    padding: 0;
}

ul:hover,
li:hover,
a:hover,
p:hover {
    text-decoration: none;
}

ul:focus,
li:focus,
a:focus,
p:focus {
    outline: none;
}

img:focus,
button:focus,
div:focus {
    outline: none;
}

.menu-start {
    background-color: #1f17a0;
}

.menu-start .container .menu-list .menu-parent {
    display: flex;
    padding: 0;
}

.menu-start .container .menu-list .menu-parent .parent-item {
    position: relative;
}

.menu-start .container .menu-list .menu-parent .parent-item .menu-link {
    display: inline-block;
    padding: 8px 15px;
    white-space: nowrap;
    color: #fff;
    font-size: 13px;
}

.menu-start .container .menu-list .menu-parent .parent-item .menu-child {
    width: 220px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background: #1f17a0;
    padding: 0;
    display: none;
}

.menu-start .container .menu-list .menu-parent .parent-item .menu-child .child-item {
    border-bottom: 1px solid #008d3d;
    width: 100%;
}

.menu-start .container .menu-list .menu-parent .parent-item .menu-child .child-item .menu-link {
    padding: 5px 15px;
}

.menu-start .container .menu-list .menu-parent .parent-item:hover .menu-child {
    display: block;
}

.main-closes {
    display: none;
}

header .container .header-content {
    position: relative;
    padding: 25px 0;
}

header .container .header-content .header-logo .logo-link {
    display: inline-block;
    width: 100%;
}

header .container .header-content .header-logo .logo-link img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

header .container .header-content .header-search {
    display: inline-block;
    width: 100%;
    padding: 30px 0;
}

header .container .header-content .header-search .btn-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 4px;
    overflow: hidden;
    background: #d9eac0;
    color: #1f17a0;
    line-height: 40px;
    width: 40px;
    text-align: center;
}

header .container .header-content .header-search .btn-menu i {
    font-style: normal;
    font-size: 26px;
    display: block;
}

header .container .header-content .header-search form {
    float: right;
    height: 44px;
    width: 100%;
    max-width: 400px;
    padding-right: 60px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
}

header .container .header-content .header-search .header-input {
    border: none;
    outline: none;
    padding: 0 15px;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

header .container .header-content .header-search .header-btn-search {
    top: 0;
    right: 0;
    border: none;
    outline: none;
    padding: 0 15px;
    height: 42px;
    font-size: 14px;
    font-family: inherit;
    width: 60px;
    position: absolute;
    cursor: pointer;
    background: url(../../../img/search.png) no-repeat center, #1f17a0;
}

header .container .header-content .header-search .header-btn-search:hover {
    background-color: #ff0000;
    transition: 0.5s;
}

header .container .header-content .header-linked {
    display: flex;
    padding: 30px 0;
    justify-content: flex-end;
}

header .container .header-content .header-linked a {
    padding: 0 5px;
    display: inline-block;
}

header .container .header-content .header-linked a.link-shop {
    width: 54px;
}

header .container .header-content .header-linked a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .container .header-content .header-linked .cart {
    float: right;
    position: relative;
    padding-left: 50px;
    margin: 0 0 0 5px;
    height: 44px;
    line-height: 44px;
    color: #1f17a0;
    font-weight: bold;
}

header .container .header-content .header-linked .cart::before {
    content: "";
    display: block;
    height: 44px;
    width: 44px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(../../../img/cart.png) no-repeat center #d9eac0;
    border-radius: 50%;
    overflow: hidden;
}

header .container .header-content .header-linked .cart .total {
    color: #f00;
    position: absolute;
    left: 17px;
    top: 16px;
    z-index: 1;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
}

header .container .header-content .header-linked .cart strong {
    font-family: "Roboto-Regular";
    text-transform: uppercase;
    font-size: 14px;
}

.header-menu-banner {
    background: #1f17a0;
    color: #fff;
    position: relative;
    display: inline-block;
    width: 100%;
}

.header-menu-banner .menu-category {
    width: 260px;
    float: left;
    position: relative;
}

.header-menu-banner .menu-category .btn-open-category {
    padding: 10px 10px 10px 20px;
    display: block;
    margin-bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    position: relative;
    cursor: pointer;
}

.header-menu-banner .menu-category .btn-open-category i {
    font-style: normal;
    font-size: 22px;
    display: block;
    float: left;
    margin-right: 10px;
}

.header-menu-banner .menu-category .btn-open-category span {
    display: block;
    white-space: nowrap;
    float: left;
    font-family: 'Roboto-Bold';
}

.header-menu-banner .menu-category .menu-category-parent {
    display: block;
    width: 100%;
    padding: 15px 0;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
}

.header-menu-banner .menu-category .menu-category-parent .category-parent-item {
    padding: 9px 15px;
}

.header-menu-banner .menu-category .menu-category-parent .category-parent-item .category-link {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    padding-right: 20px;
    width: 100%;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background: url(../../../img/bg-sub3.png) no-repeat right center;
}

.header-menu-banner .menu-category .menu-category-parent .category-parent-item .category-link .category-img {
    display: block;
    float: left;
    position: relative;
    width: 32px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.header-menu-banner .menu-category .menu-category-parent .category-parent-item .category-link .category-img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.header-menu-banner .menu-category .menu-category-parent .category-parent-item .category-link .category-name {
    font-family: 'Roboto-Bold';
    font-size: 14px;
}

.header-menu-banner .list-policy .menu-policy {
    float: left;
    line-height: 26px;
    color: #ecf14c;
    font-size: 14px;
}

.header-menu-banner .list-policy .menu-policy .policy-item {
    color: #ecf14c;
    float: left;
    padding: 10px;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    -js-display: flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.header-menu-banner .list-policy .menu-policy .policy-item span {
    display: block;
    width: 24px;
    height: 26px;
    position: relative;
    margin-right: 10px;
}

.header-menu-banner .list-policy .menu-policy .policy-item span .policy-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    object-fit: contain;
    height: 100%;
}

.header-menu-banner .list-policy .menu-policy .policy-item strong {
    font-weight: normal;
    color: #fff;
}

.header-menu-banner .category-contact .menu-contact {
    line-height: 18px;
    float: right;
    background: #ff0000;
    color: #fff;
    padding: 5px 15px;
    border-left: 5px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    font-size: 14px;
}

.header-menu-banner .category-contact .menu-contact .contact-item {
    margin-right: 20px;
    padding-left: 30px;
    float: left;
    padding-left: 50px;
    position: relative;
    display: block;
}

.header-menu-banner .category-contact .menu-contact .contact-item::before {
    content: "";
    display: block;
    height: 34px;
    width: 43px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(../../../img/bghd1.png) no-repeat right center;
}

.header-menu-banner .category-contact .menu-contact .contact-item.hotline::before {
    background-position: 2px;
    width: 25px;
}

.header-menu-banner .category-contact .menu-contact .contact-item.email::before {
    background-position: -27px;
}

.header-menu-banner .category-contact .menu-contact .contact-item span {
    display: block;
    color: #fff;
}

.header-menu-banner .category-contact .menu-contact .contact-item a {
    color: #1f17a0;
    font-weight: bold;
}

.banner {
    position: relative;
    margin-left: 260px;
    border-left: 5px solid #fff;
    max-height: 605px;
}

.banner::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background: #1f17a0;
    top: 0;
    right: 0;
    left: -265px;
    bottom: 0;
}

.banner .banner-slider .banner-item .banner-link {
    outline: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.banner .banner-slider .banner-item .banner-link img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

.banner .banner-slider .slick-dots {
    width: auto;
    display: inline-block;
    bottom: 25px;
    left: 10%;
}

.banner .banner-slider .slick-dots button {
    width: 15px;
    height: 15px;
    background: #5cbc5e;
    border-radius: 100%;
}

.banner .banner-slider .slick-dots button::before {
    background: none;
    color: #5cbc5e;
}

.banner .banner-slider .slick-dots .slick-active button {
    background: #1f17a0;
}

.banner .banner-slider .slick-dots .slick-active button::before {
    background: none;
    color: #1f17a0;
}

.banner .banner-slider .btn-slider {
    position: absolute;
    z-index: 1;
    top: auto;
    bottom: 10%;
    width: 34px;
    height: 44px;
    margin-top: -22px;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #fff;
    font-size: 31px;
    cursor: pointer;
}

.banner .banner-slider .btn-slider:focus {
    outline: none;
}

.banner .banner-slider .btn-slider.btn-next {
    right: 10%;
}

.banner .banner-slider .btn-slider.btn-prev {
    left: auto;
    right: 10%;
    margin-right: 35px;
}

.btn-sliders {
    position: absolute;
    border: none;
    background: none;
    font-size: 21px;
    z-index: 1;
    bottom: 40px;
    cursor: pointer;
    color: #888888;
    height: 35px;
    width: 25px;
    top: 40%;
}

.btn-sliders.btn-next {
    right: 0;
}

.btn-sliders.btn-prev {
    left: 0;
}

.partner {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.partner .partner-title {
    line-height: 1.4;
    margin: 10px 0;
    padding: 0;
    position: relative;
    font-size: 16px;
}

.partner .partner-title strong {
    position: relative;
    display: inline-block;
    z-index: 1;
    background: #fff;
    padding: 0 15px;
    color: #1f17a0;
}

.partner .partner-title:before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #1f17a0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.partner .partner-slider .partner-item .partner-link {
    display: inline-block;
    width: 100%;
}

.partner .partner-slider .partner-item .partner-link:focus {
    outline: none;
}

.partner .partner-slider .partner-item .partner-link img {
    width: 100%;
}

.partner .partner-slider .partner-item .partner-link img:focus {
    outline: none;
}

.partner .partner-slider .btn-partner {
    position: absolute;
    border: none;
    background: none;
    font-size: 21px;
    z-index: 1;
    bottom: 40px;
    cursor: pointer;
    color: #888888;
}

.partner .partner-slider .btn-partner:focus {
    outline: none;
}

.partner .partner-slider .btn-partner.partner-prev {
    left: -25px;
}

.partner .partner-slider .btn-partner.partner-next {
    right: -25px;
}

.product-promotion {
    position: relative;
}

.product-promotion::before {
    content: "";
    display: block;
    background: #1f17a0;
    z-index: -1;
    position: absolute;
    left: calc(50% - 50vw);
    right: calc(50% - 50vw);
    top: 0;
    height: 42px;
    max-width: 100%;
}

.product-promotion .container .promotion-content .promotion-title {
    margin: 0;
    text-transform: uppercase;
    color: #1f17a0;
    line-height: 1.4;
    font-size: 30px;
    text-align: center;
}

.product-promotion .container .promotion-content .promotion-title strong {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 30px;
}

.product-promotion .container .promotion-content .promotion-title strong::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    transform: skewX(30deg);
}

.product-promotion .container .promotion-content .promotion-title strong span {
    color: #ef231a;
}

.product-promotion .container .promotion-content .prommotion-product {
    margin-top: 50px;
    margin-bottom: 50px;
}

.marginrow10 {
    margin-left: -10px;
    margin-right: -10px;
}

.paddingcol10 {
    padding-left: 10px;
    padding-right: 10px;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1500px;
    }
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.product-item1 {
    padding: 10px;
    width: 100%;
    border: 1px solid #eee;
}

.product-item1 .product-link-img {
    display: inline-block;
    width: 100%;
    height: 210px;
}

.product-item1 .product-link-img img {
    width: 100%;
    transform: scale(0.8);
    transition: all .3s ease-in-out;
    height: 100%;
    object-fit: contain;
}

.product-item1 .product-link-img:hover img {
    transform: scale(1);
}

.product-item1 .product-info {
    height: 130px;
}

.product-item1 .product-info .product-link-name {
    line-height: 1.5;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 42px;
    margin: 10px 0;
}

.product-item1 .product-info .product-link-name:hover {
    color: #006e30;
    transition: .5s;
}

.product-item1 .product-info .product-model {
    margin: 0 0 10px;
    font-size: 14px;
}

.product-item1 .product-info .product-price {
    color: #006e30;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}

.product-item1 .product-info .product-price-sale {
    display: block;
    position: relative;
    margin-bottom: 0;
    text-decoration: line-through;
    color: #555;
    font-size: 13px;
    color: #999;
    width: 100%;
}

.product-top .container .product-top-content .top-tab .top-tap-list {
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 6px;
    float: left;
    display: flex;
    padding-left: 0;
}

.product-top .container .product-top-content .top-tab .top-tap-list .top-tap-item {
    padding: 0 30px;
    position: relative;
    cursor: pointer;
}

.product-top .container .product-top-content .top-tab .top-tap-list .top-tap-item::after {
    content: "";
    display: block;
    background: #1f17a0;
    width: 3px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.product-top .container .product-top-content .top-tab .top-tap-list .top-tap-item.active {
    color: #1f17a0;
    font-weight: bold;
}

.product-top .container .product-top-content .top-tab .top-tap-list .top-tap-item:hover {
    color: #1f17a0;
    font-weight: bold;
}

.product-top .container .product-top-content .top-tab .top-tap-list .top-tap-item:first-child {
    padding-left: 0;
}

.product-top .container .product-top-content .top-tab .top-tap-list .top-tap-item:last-child::after {
    display: none;
}

.product-top .top-product {
    display: inline-block;
    width: 100%;
    background: #f0f6e8;
    padding: 20px 15px 30px;
    position: relative;
    min-height: 380px;
}

.product-top .top-product .top-product-list {
    padding-right: 0;
}

.product-top .top-product .top-product-list .product-item1 {
    background: #fff;
}

.product-top .top-product .top-product-list .product-item1 .product-link-name {
    font-weight: normal;
}

.category-object {
    padding-bottom: 30px;
}

.category-object .container .category-bar .category-title {
    position: relative;
    color: #1f17a0;
    padding: 10px 20px 10px 0;
    float: left;
    text-transform: uppercase;
    margin-bottom: 0;
}

.category-object .container .category-bar .category-title:after {
    right: 0;
    bottom: 0;
    left: calc(100% - 53vw);
    transform: skewX(-30deg);
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(left, #1f17a0 0%, #1f17a0 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #1f17a0), color-stop(100%, #1f17a0));
    background: -o-linear-gradient(left, #1f17a0 0%, #1f17a0 100%);
    background: -ms-linear-gradient(left, #1f17a0 0%, #1f17a0 100%);
    background: linear-gradient(to right, #1f17a0 0%, #1f17a0 100%);
}

.category-object .container .category-bar .category-title a {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
}

.category-object .container .category-bar .category-tab {
    float: left;
    font-size: 20px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.category-object .container .category-bar .category-tab .category-item {
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.category-object .container .category-bar .category-tab .category-item:hover {
    color: #1f17a0;
    font-weight: bold;
    transition: .5s;
}

.category-object .container .category-bar .category-tab .category-item::after {
    content: "";
    display: block;
    background: #1f17a0;
    width: 3px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2px;
    height: 20px;
}

.category-object .container .category-bar .category-tab .category-item:last-child::after {
    display: none;
}

.category-object .product-object {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    position: relative;
    min-height: 803px;
}

.category-object .product-object .container .pro-object-content .product-item1 .product-info {
    text-align: center;
}

.category-object .product-object .container .pro-object-content .product-item1 .product-info .product-price {
    color: #ee371b;
}

.category-object .advertisement .container .advertisement-slider .advertisement-item a {
    display: inline-block;
    width: 100%;
}

.category-object .advertisement .container .advertisement-slider .advertisement-item a img {
    width: 100%;
    height: auto;
    max-height: 170px;
}

.category-object.category-case {
    padding-bottom: 0;
}

.category-object.category-case .product-object {
    background: #f0f6e8;
}

.category-object.category-case .product-object .product-item1 {
    background: #fff;
}

.padding10 {
    padding: 10px 0;
}

.margin10 {
    margin: 10px 0;
    display: inline-block;
}

.tab-active {
    color: #1f17a0;
    font-weight: bold;
}

.btn-category {
    position: absolute;
    z-index: 2;
    opacity: 0.5;
    height: 36px;
    padding: 0;
    cursor: pointer;
    outline: none;
    color: #888888;
    font-size: 18px;
    overflow: hidden;
    top: -10px;
    margin-top: -40px;
    width: 36px;
    border: 2px solid #999;
    border-radius: 50%;
    right: 0;
}

.btn-category.category-prev {
    left: auto;
    right: 54px;
    background-position: -81px;
}

.btn-category.category-next {
    right: 8px;
}

footer {
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f0f6e8;
    margin-top: 40px;
    position: relative;
}

footer .container .footer-content .footer-logo {
    width: 170px;
    float: left;
    margin-right: 10px;
}

footer .container .footer-content .footer-logo a {
    padding: 20px;
    display: inline-block;
    width: 100%;
}

footer .container .footer-content .footer-logo a img {
    width: 100%;
    height: auto;
    max-height: 100px;
}

footer .container .footer-content .footer-category {
    width: calc(100% - 180px);
    float: left;
    padding-top: 10px;
    font-size: 14px;
}

footer .container .footer-content .footer-category .store-list {
    display: list-item;
    text-align: -webkit-match-parent;
}

footer .container .footer-content .footer-category .store-list a {
    display: inline-block;
    padding: 5px 0 5px 15px;
    position: relative;
    font-weight: 600;
}

footer .container .footer-content .footer-category .store-list a:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #1f17a0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

footer .container .footer-content .footer-category .footer-chungnhan {
    display: inline-block;
    width: 100%;
    text-align: right;
}

footer .footerfb {
    display: inline-block;
    width: 33%;
    position: absolute;
    right: 0;
    top: 0;
}

footer .footerfb .footer-fb {
    float: right;
    position: relative;
    z-index: 1;
    margin-top: -25px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    letter-spacing: 2px;
    width: 100%;
}

footer .footerfb .footer-fb::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: url(../../../img/bgfb2.png) no-repeat center, #1f17a0;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

footer .footerfb .footer-fb .footer-fb-link {
    font-size: 32px;
    color: #fff;
    position: relative;
    display: block;
    padding-left: 60px;
}

footer .footerfb .footer-fb .footer-fb-link::after {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    right: calc(100% - 40px);
    background: #1f17a0;
    background: -moz-linear-gradient(left, #1f17a0 0%, #1f17a0 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #1f17a0), color-stop(100%, #1f17a0));
    background: -o-linear-gradient(left, #1f17a0 0%, #1f17a0 100%);
    background: -ms-linear-gradient(left, #1f17a0 0%, #1f17a0 100%);
    background: linear-gradient(to right, #1f17a0 0%, #1f17a0 100%);
}

footer .footerfb .footer-fb .footer-fb-link strong {
    font-weight: 700;
}

.lineh17 {
    line-height: 1.7;
}

.coppy-right {
    display: inline-block;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    position: relative;
}

.coppy-right p {
    color: #fff;
}

.coppy-right:after {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1f17a0;
    background-color: #1f17a0;
}

.scrollToTop {
    display: block;
    bottom: 150px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 5000;
    background: url(../../../img/icon-top.png) no-repeat center, rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.scrollToTop:hover {
    background-color: rgba(0, 0, 0, 0.75);
    transition: .5s;
}

.alo-phone {
    bottom: 30px;
    left: 5px;
    position: fixed;
    visibility: hidden;
    visibility: visible;
    background-color: transparent;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 2000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
}

.alo-phone .alo-circle {
    border-color: #0edb06;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    border: 2px solid #0FA8E1;
    opacity: .5;
    -webkit-animation: alo-circle-anim 1.1s infinite ease-in-out;
    -moz-animation: alo-circle-anim 1.1s infinite ease-in-out;
    -ms-animation: alo-circle-anim 1.1s infinite ease-in-out;
    -o-animation: alo-circle-anim 1.1s infinite ease-in-out;
    animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.alo-phone .alo-circle-fill {
    background-color: #0edb06;
    width: 70px;
    height: 70px;
    top: 5px;
    left: 5px;
    position: absolute;
    background-color: rgba(15, 168, 225, 0.5);
    border: 2px solid transparent;
    opacity: .75;
    -webkit-animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
    -moz-animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
    -ms-animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
    -o-animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.alo-phone .alo-img-circle {
    background: url(../../../img/bg-call6.png) no-repeat center #1f17a0;
    opacity: 1;
    background-size: 60%;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
    z-index: 1;
    position: absolute;
    border: 2px solid transparent;
    opacity: .85;
    -webkit-animation: alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    border-radius: 100%;
}

.alo-phone .alo-block {
    font-size: 18px;
    white-space: nowrap;
    left: 50px;
    top: 23px;
    position: absolute;
    background: #1f17a0;
    padding: 4px 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
}

.alo-phone:hover .alo-circle {
    border-color: #ff0000;
}

.alo-phone:hover .alo-circle-fill {
    background-color: rgba(255, 0, 0, 0.5);
    opacity: .75;
}

.alo-phone:hover .alo-img-circle {
    background-color: #ff0000;
}

.alo-phone:hover .alo-block {
    background-color: #ff0000;
    color: #fff;
}

.sp-cart {
    padding: 10px;
    z-index: 100;
    color: #fff;
    border-radius: 100%;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background: #0083c4;
    font-size: 22px;
    line-height: 1.6;
}

.quant-cart,
.ic-cart {
    color: #fff;
    font-family: 'Roboto-Bold';
    font-style: normal;
}

.quant-cart span {
    font-size: 18px;
}

.header-btn-menu {
    padding: 30px 0;
    text-align: left;
}

.header-btn-menu .btn-open {
    border: 1px solid #ddd;
    padding: 5px 15px;
    line-height: 30px;
    display: inline-block;
    background: #fff;
    font-family: inherit;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-btn-menu .btn-open:active {}

.header-btn-menu .btn-open:hover,
.header-btn-menu .btn-open:active {
    color: #fff;
    text-decoration: none;
    background: #1f17a0;
    background: -moz-linear-gradient(left, #1f17a0 0%, #5cbc5e 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #1f17a0), color-stop(100%, #5cbc5e));
    background: -o-linear-gradient(left, #1f17a0 0%, #5cbc5e 100%);
    background: -ms-linear-gradient(left, #1f17a0 0%, #5cbc5e 100%);
    background: linear-gradient(to right, #1f17a0 0%, #5cbc5e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1f17a0', endColorstr='#5cbc5e', GradientType=1);
}

.header-btn-menu .btn-open i {
    font-style: normal;
    font-size: 20px;
    margin-right: 5px;
    display: block;
    float: left;
}

@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.header-btn-menu .btn-open b {
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    background: url(../../../img/bg-sub.png)no-repeat right center;
    padding-right: 20px;
}

.menu-scroll {
    position: absolute;
    top: 100%;
    left: 15px;
    width: 260px;
    -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, .4);
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, .4);
    background: #3338f3;
    padding: 15px 0;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    height: 0;
    display: none;
}

.header-active .menu-scroll.active {
    opacity: 1;
    pointer-events: all;
    height: auto;
    animation: rotateX 300ms;
    transition: .5s;
    transform-origin: top center;
    display: block;
}

.menu-scroll .scroll-item {
    padding: 9px 15px;
}

.menu-scroll .scroll-item .scroll-item-link {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    padding-right: 20px;
    width: 100%;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background: url(../../../img/bg-sub3.png)no-repeat right center;
    font-size: 14px;
}

.menu-scroll .scroll-item .scroll-item-link span {
    display: block;
    float: left;
    position: relative;
    width: 32px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-scroll .scroll-item .scroll-item-link span img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.scroll-child2 {
    top: 7px;
    height: calc(100%);
    overflow-x: auto;
    padding: 0 0 0 15px;
    text-align: center;
    background: #fff;
    flex-wrap: nowrap;
    position: absolute;
    left: 100%;
    min-height: 100%;
    padding: 0;
    border: 1px solid #ddd;
    width: -moz-calc(1170px - 100%);
    width: -webkit-calc(1170px - 100%);
    width: calc(1170px - 100%);
    flex-direction: row;
    display: none;
    height: 605px;
}

.menu-scroll .scroll-item:hover .scroll-child2,
.category-parent-item:hover .scroll-child2 {
    display: flex;
}

.scroll-child2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    background: #fff;
    z-index: -1;
}

.scroll-child2 .child2-item {
    width: 25%;
    padding: 5px 0;
    position: relative;
    border-left: 1px solid #eee;
}

.scroll-child2 .child2-item .child2-link {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    display: block;
    padding: 10px;
    position: relative;
    color: #000;
    font-size: 14px;
}

.menu-scroll .scroll-item .scroll-child2 .child2-item .scroll-child3 .scroll-child3 {}

.scroll-child3 .child3-item {
    text-align: left;
    padding-left: 10px;
    position: relative;
}

.scroll-child3 .child3-item .child3-link {
    padding: 5px 7px 5px 12px;
    display: block;
    position: relative;
    text-transform: inherit;
    font-family: 'Roboto-Medium';
    border-bottom: none;
    font-size: 14px;
    display: inline-block;
}

.scroll-child3 .child3-item .child3-link:before {
    content: '';
    top: 10px;
    position: absolute;
    left: 0;
    background: url(../../../img/bg-link.png)no-repeat 0;
    width: 10px;
    height: 10px;
}

.scroll-child4 .child4-item {
    text-align: left;
    padding-left: 10px;
    position: relative;
}

.scroll-child4 .child4-item .child4-link {
    padding: 5px 7px 5px 12px;
    position: relative;
    font-size: 13.5px;
    display: inline-block;
}

.scroll-child4 .child4-item .child4-link::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #555;
    position: absolute;
    top: 12px;
    left: 0;
}

header .col-scoll {
    display: none;
}

.header-active {
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 5;
    background: #fff;
    border: solid 1px #ddd;
    top: 0;
}

.header-active .col-no-scoll {
    display: none;
}

.header-active .container .header-content {
    padding: 0;
}

.header-active .container .header-content .header-btn-menu,
.header-active .container .header-content .header-search,
.header-active .container .header-content .header-linked {
    padding: 15px 0;
}

.header-logo2 {
    text-align: center;
}

.logo-link2 {
    display: inline-block;
    padding: 15px 0;
}

.logo-link2 img {
    width: 50px;
    object-fit: contain;
}

.header-active .col-scoll {
    display: block;
}


/* ---------------product-detail--------------------------------- */

.product-detail {
    background: #f0f6e8;
    display: inline-block;
    width: 100%;
}

.product-detail-content {
    background: #fff;
}

.product-detail-content .product-image-slider {}

.product-detail-content .product-image-slider .slider-for {}

.product-detail-content .product-image-slider .slider-for img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-detail-content .slider-nav .slider-nav__item {
    padding: 5px;
}

.product-detail-content .slider-nav {
    padding: 0 15px;
}

.product-detail-content .slider-nav .btn-sliders {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 2;
    opacity: 0.5;
    width: 24px;
    height: 36px;
    margin-top: -18px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: url(../../../img/arrow.png)no-repeat;
    outline: none;
    color: transparent;
    font-size: 0;
    overflow: hidden;
}

.product-detail-content .slider-nav .btn-next {
    right: 0;
    background-position: -660px;
}

.product-detail-content .slider-nav .btn-prev {
    left: 0;
    background-position: 0;
}

.product-detail-content .slider-nav .slider-nav__item .product-detail-img {
    border: 1px solid #eee;
    height: 80px;
}

.product-detail-content .slider-nav .slider-nav__item.slick-current .product-detail-img {
    border: 2px solid #006f30;
}

.product-detail-content .slider-nav img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.product-detail-content .product-info {}

.product-detail-content .product-info .product-name {
    font-weight: 500;
    margin: 10px 0;
    padding: 0;
    line-height: 1.4;
    position: relative;
    font-size: 20px;
}

.product-detail-content .product-info .facturer {
    margin: 0 0 10px;
    font-size: 14px;
}

.product-detail-content .product-info .product-price {
    font-size: 28px;
    color: #ff0007;
    font-weight: 700;
}

.product-detail-content .product-info .price-note {
    color: #999;
    font-size: 13px;
    font-style: italic;
    margin: 0 0 10px;
}

.product-detail-content .product-info .button-cart {
    margin: 15px 0;
}

.product-detail-content .product-info .button-cart button {
    text-transform: uppercase;
    width: 49%;
    color: #fff;
    border-radius: 4px;
}

.product-detail-content .product-info .button-cart button:hover {
    opacity: 0.75;
}

.product-detail-content .product-info .button-cart .buy-now {
    background: #006e30;
}

.product-detail-content .product-info .button-cart .add-to-cart {
    background: #76c4f5;
    float: right;
}

.product-detail-content .product-info .product-promotion {
    position: relative;
    margin-top: 40px;
}

.product-detail-content .product-info .product-promotion .promotion-title {
    position: absolute;
    display: block;
    left: 10px;
    top: -13px;
    z-index: 1;
    font-size: 16px;
    line-height: 26px;
    padding: 0 5px 0 40px;
    background: url(../../../img/alert.png)no-repeat 5px, #fff;
    color: #d70000;
}

.product-detail-content .product-info .product-promotion .promotion-content {
    border: 1px solid #00843e;
    border-radius: 10px;
    background: #fff;
    padding: 15px 10px 10px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    font-size: 14px;
}

.product-similar {
    background: #fff;
    margin: 20px 0;
}

.product-similar .similar-title {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 5px solid #ddd;
    font-weight: 600;
    font-size: 16px;
}

.product-similar .product-title {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    padding: 0;
    line-height: 1.4;
    font-weight: normal;
    position: relative;
    display: inline-block;
    width: 100%;
}

.product-similar .similar-slider {
    padding: 0 10px;
}

.product-content {
    padding: 15px;
    background: #fff;
    position: relative;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 70px;
}

.product-content.active {
    max-height: none;
}

.product-content .content-left {}

.content-title {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 5px solid #bbb;
    font-size: 18px;
    font-family: 'Roboto-Medium';
}

.content-right-detail {}

.content-right-item {
    font-size: 14px;
    display: flex;
}

.content-right-item .item-left {
    width: 120px;
}

.content-right-item div {
    padding: 10px;
}

.item-title {
    padding: 10px;
    color: #555;
    font-weight: 700;
    font-size: 14px;
}

.item-title:last-child {
    background: #f6f6f6;
}

.content-right-item:nth-child(2n) {
    background: #f6f6f6;
}

.product-content .btn-show {
    width: 100%;
    text-align: center;
    padding: 30px 15px 15px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.product-content .btn-show .btn-content {
    display: inline-block;
    padding: 7px 30px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
}

.product-content .btn-show .btn-content:hover {
    background: #5cbc5e;
    color: #fff;
}

.product-content .btn-show .btn-content.btn-hidden-content {
    display: none;
}

.product-content.active .btn-show .btn-content.btn-hidden-content {
    display: inline-block;
}

.product-content.active .btn-show .btn-content.btn-show-content {
    display: none;
}

.back-link .breadcrumb {
    font-size: 13px;
    background: none;
}

.back-link .breadcrumb li:first-child {
    background: none;
}

.back-link .breadcrumb li {
    display: inline-block;
    padding: 0 8px 0 12px;
    background: url(../../../img/bg-mtb.png)no-repeat left center;
    position: relative;
    overflow: hidden;
}

.back-link .breadcrumb li::before {
    display: none;
}

.rating-demo {
    color: #ffad00;
    font-size: 10px;
    font-size: 14px;
}

.rating-demo .no-rating {
    color: #848484;
}

.product-cart {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.product-cart .product-electronic-rating {
    display: inline-block;
    float: left;
}

.product-cart a.btn {
    width: 25px;
    height: 25px;
    padding: 0;
    background: none;
    float: right;
    display: inline-block;
    position: absolute;
    right: 0;
    color: #ef231a;
}

.product-cart a.btn .fa-cart-plus {
    width: 100%;
    height: 100%;
}

.messenter_popup {
    background: #22b950cc;
    display: inline-block;
    padding: 10px 100px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    position: fixed;
    z-index: 999999;
    left: -100px;
    top: 50%;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.messenter_popup.messager_active {
    left: 10%;
    top: 20%;
    opacity: 1;
    pointer-events: all;
    transition: .5s;
}

section.loading-body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 7;
    align-items: center;
    display: none;
    text-align: center;
    background: #000;
    align-items: center;
    justify-content: center;
    /* -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
    box-shadow: 0px 0px 30px 1px #103136 inset; */
}

section.loading-component {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 7;
    align-items: center;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
    box-shadow: 0px 0px 30px 1px #103136 inset; */
}

section.loading {
    display: inline-flex;
}

@media only screen and (max-width: 600px) {
    section {
        min-width: 350px;
    }
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}

.loader-star {
    position: absolute;
    top: calc(50% - 12px);
}


/*LOADER-1*/

.loader-1 .loader-outter {
    position: absolute;
    border: 4px solid #f50057;
    border-left-color: transparent;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-1 .loader-inner {
    position: absolute;
    border: 4px solid #f50057;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-right: 0;
    border-top-color: transparent;
    -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}


/*LOADER-2*/

.loader-2 .loader-star {
    position: static;
    width: 60px;
    height: 60px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation: loader-2-star 1s ease alternate infinite;
    animation: loader-2-star 1s ease alternate infinite;
}

.loader-2 .loader-circles {
    width: 8px;
    height: 8px;
    background: #18ffff;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-animation: loader-2-circles 1s ease-in-out alternate infinite;
    animation: loader-2-circles 1s ease-in-out alternate infinite;
}


/* ----------------     KEYFRAMES    ----------------- */

@-webkit-keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes loader-2-circles {
    0% {
        -webkit-box-shadow: 0 0 0 #18ffff;
        box-shadow: 0 0 0 #18ffff;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
        box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
        box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
    }
}

@keyframes loader-2-circles {
    0% {
        -webkit-box-shadow: 0 0 0 #18ffff;
        box-shadow: 0 0 0 #18ffff;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #e11a2b, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
        box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
        box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
    }
}

@-webkit-keyframes loader-2-star {
    0% {
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(0.7) rotate(360deg);
        transform: scale(0.7) rotate(360deg);
    }
}

.hidden_view {
    display: none;
}