body .mobile-menu-list .menu-container {
  display: inline-block;
  cursor: pointer;
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */ }
  body .mobile-menu-list .menu-container .menu-bar1,
  body .mobile-menu-list .menu-container .menu-bar2,
  body .mobile-menu-list .menu-container .menu-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s; }
  body .mobile-menu-list .menu-container .menu-change .menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  body .mobile-menu-list .menu-container .menu-change .menu-bar2 {
    opacity: 0; }
  body .mobile-menu-list .menu-container .menu-change .menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

/*# sourceMappingURL=menu.css.map */
