@charset "utf-8";

/*======================================== config =================================*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: calc(10em / 16);
    /* for IE adjust. it's equal 62.5%*/
}
p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    text-decoration: none;
}
a,
button,
input {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
body {
    background: #fff;
    font-family: arial;
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    line-height: 1.8;
}

del {
    font-size: 12px;
    color: #999;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}


.w_100 {
    width: 100%;
}
.row-flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.flex-reverse{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap-reverse;
}


@keyframes animatedown {
    0%{-webkit-transform:translateY(-100%);transform:translateY(-100%)}
    100%{-webkit-transform:translateY(0);transform:translateY(0)}
}


.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
    transition: top 0.3s;
    animation: animatedown 0.6s;
}

[class^='clearfix'] {
    clear: both;
    display: block;
}

.clearfix-130{
    height: 130px;
}
.clearfix-100{
    height: 100px;
}
.clearfix-80{
    height: 80px;
}
.clearfix-60{
    height: 60px;
}
.clearfix-55{
    height: 55px;
}
.clearfix-50{
    height: 50px;
}
.clearfix-45{
    height: 45px;
}
.clearfix-40{
    height: 40px;
}
.clearfix-35{
    height: 35px;
}
.clearfix-30{
    height: 30px;
}
.clearfix-32{
    height: 32px;
}
.clearfix-25{
    height: 25px;
}
.clearfix-20{
    height: 20px;
}
.clearfix-15{
    height: 15px;
}
.clearfix-12{
    height: 12px;
}
.clearfix-10{
    height: 10px;
}
.clearfix-5{
    height: 5px;
}
/*======================================== end config =================================*/
