﻿@font-face { font-family: "Roboto"; src: url(../fonts/Roboto-Regular.ttf); }
@font-face { font-family: "Roboto-b"; src: url(../fonts/Roboto-Bold.ttf); }
@font-face { font-family: "Arial"; src: url(../fonts/arial.ttf); }
@font-face { font-family: "Arialb"; src: url(../fonts/arialbd.ttf); }
.margleft0 { margin-left: 0; }

.margright0 { margin-right: 0; }

.paddleft0 { padding-left: 0; }

.paddright0 { padding-right: 0; }

.paddleft5 { padding-left: 5px; }

.paddright5 { padding-right: 5px; }

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths { position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; }

.col-xs-5ths { width: 20%; float: left; }

.row_5 { margin-left: -10px; margin-right: -10px; }

@media (min-width: 768px) { .col-sm-5ths { width: 20%; float: left; } }
@media (min-width: 992px) { .col-md-5ths { width: 20%; float: left; } }
@media (min-width: 1200px) { .col-lg-5ths { width: 20%; float: left; } }
body { font-family: "Arial"; line-height: 1.5; font-size: 14px; }
a:hover{
	color: #f49527;
}
header { background: url("../images/header-bg.jpg"); padding: 12px 0; border-bottom: solid 2px #914d0e; }
header .hd-btnmenu { display: none; }
header .hd-logo img { width: 70px; height: 85px; }
header .hd-menu { margin: 20px 0; }
header .hd-menu ul li { display: inline-block; position: relative; }
header .hd-menu ul li a { padding: 15px; display: inline-block; color: #9a4800; font-weight: bold; font-family: "Arialb"; text-transform: uppercase; }
header .hd-menu ul li ul {z-index: 9; display: none; position: absolute; top: 100%; }
header .hd-menu ul li ul li a {padding: 10px 15px; width: 300px; padding-left: 20px; background: #9a4800; display: inline-block; color: #fff; text-align: left; border-bottom: solid 1px #fff; }
header .hd-menu ul li ul li a:hover { background: #ce6a13; }
header .hd-menu ul li ul li:last-child a { border: none; }
header .hd-menu ul li:hover ul { display: block; }
header .hd-contact { margin: 20px 0 20px 20px; float: right; }
header .hd-contact:before { content: ''; top: 25%; bottom: 0; left: 0; width: 2px; height: 50%; background: #ff7900; position: absolute; }
header .hd-contact .contact-img { display: inline-block; }
header .hd-contact .contact-title { margin-left: 10px; color: #9a4800; display: inline-block; }
header .hd-contact .contact-title span { color: #f31100; font-weight: bold; }

.banner .paright-0 { padding-right: 0; }
.banner .padding0 { padding: 0; }
.banner .paleft0 { padding-left: 0; }
.banner .banner-menu ul { border: solid 1px #c8c8c8; display: inline-block; width: 100%; }
.banner .banner-menu ul .menu-name { width: 100%; font-size: 16px; font-family: "Roboto"; font-weight: bold; padding: 10px 0 10px 25px; color: #fff; display: inline-block; background: #f49527; position: relative; text-transform: uppercase; }
.banner .banner-menu ul .menu-name i { position: absolute; right: 10px; font-size: 25px; }
.banner .banner-menu ul li { display: block; }
.banner .banner-menu ul li .menu-contact { width: 100%; padding: 10px 0 10px 25px; font-family: "Roboto"; border-bottom: solid 1px #c8c8c8; display: inline-block; position: relative; }
.banner .banner-menu ul li a i { position: absolute; right: 10px; top: 12px; }
.banner .banner-menu ul li a:hover { background: #f49527; color: #fff; transition: .3s; }
.banner .banner-menu ul li a .menu-phone { color: #9a4800; }
.banner .banner-menu ul li a .menu-lienhe { position: absolute; right: 20px; }
.banner .banner-menu ul li a .menu-lienhe img { margin: 0 5px; }
.banner .banner-menu.menubn-right ul .menu-name i { position: relative; }
.banner .banner-menu.menubn-right ul li .menu-contact { font-weight: bold; padding: 20px 0 20px 25px; }
.banner .banner-menu.menubn-right ul li .menu-email { font-weight: nomal; text-align: center; color: #9a4800; padding: 19px 0 18px 25px; }
.banner .banner-slider a { display: inline-block; }
.banner .banner-slider a img { width: 100%; height: 466px; }

.advertisement { margin: 18px 0; }
.advertisement .adver-company { position: relative; }
.advertisement .adver-company a { display: inline-block; }
.advertisement .adver-company a img { width: 100%; object-fit: cover; height: 175px; }
.advertisement .adver-company .adver-img { position: absolute; top: 20px; left: 7%; }
.advertisement .adver-video a { display: inline-block; }
.advertisement .adver-video a img { width: 100%; object-fit: cover; height: 175px; }

.featured-product { margin: 20px 0; }
.featured-product .product-title .product-menu { margin: 15px 0; border-top: solid 2px #f49527; }
.featured-product .product-title .product-menu .product-menu-name { width: 180px; display: inline-block; padding: 10px 0; background: #f49527; text-align: center; color: #fff; /* font-weight: bold; */ text-transform: uppercase; font-size: 16px; font-family: "Roboto-b"; }
.featured-product .product-title .product-menu ul { display: inline-block; }
.featured-product .product-title .product-menu ul li { display: inline-block; }
.featured-product .product-title .product-menu ul li a { padding: 10px; color: #666666; font-family: "Roboto"; font-size: 15px; }
.featured-product .product-title .product-menu ul li a:hover { transition: .5s; color: #666666; }
.featured-product .product-title .product-menu ul li a:before { content: ''; top: 10px; bottom: 0; right: 0; position: absolute; background: #666666; width: 1px; height: 50%; }
.featured-product .product-title .product-menu ul li:last-child a:before { background: none; }
.featured-product .product-title .product-menu ul .active a { background: none; transition: .5s; color: #666666; }
.featured-product .product-title .product-menu ul .active:before { content: ''; top: -1px; right: 50%; left: 50%; position: absolute; width: 0; height: 0; border-left: 5px solid #fff; border-right: 5px solid #fff; border-top: 5px solid #f49527; }
.featured-product .product-title .product-list { padding: 5px; border: solid 1px #c8c8c8; margin: 10px 0;}
.featured-product .product-title .product-list .pr-img { position: relative; }
.featured-product .product-title .product-list .pr-img a { width: 100%; display: inline-block; }
.featured-product .product-title .product-list .pr-img a img { width: 100%; height: 190px; }
.featured-product .product-title .product-list .pr-img .pr-img-sale { width: 60px; height: 60px; position: absolute; top: 0; right: 0; }
.featured-product .product-title .product-list .pr-img .pr-img-sale .sale-before { transform: rotate(45deg); text-align: center; position: relative; margin-top: -14px; margin-left: 16px; }
.featured-product .product-title .product-list .pr-img .pr-img-sale .sale-before:before { content: ''; top: 0; bottom: 0; left: 0; right: 0; position: absolute; border-left: 35px solid #fff0; border-right: 35px solid #fff0; border-bottom: 35px solid #e84949ed; /* background: #f49527; */ width: 20px; height: 20px; z-index: 0; }
.featured-product .product-title .product-list .pr-img .pr-img-sale .sale-before p { position: relative; display: inline-block; margin-top: 14px; z-index: 1; color: #Fff; margin-top: 15px; margin-left: 17px; }
.featured-product .product-title .product-list .pr-title { position: relative; text-align: center; line-height: 2; margin: 20px 0 10px 0; }
.featured-product .product-title .product-list .pr-title:before { content: ''; top: 0; left: 4%; right: 0; position: absolute; background: #ef6e0a; width: 90%; height: 1px; }
.featured-product .product-title .product-list .pr-title .pr-title-name { color: #222222; font-size: 14px; font-family: "Arialb"; }
.featured-product .product-title .product-list .pr-title .pr-title-price { color: #ff6f00; font-family: "Arial"; }
.featured-product .product-title .product-list .pr-title .pr-title-btn { background: #8f8f91; color: #fff; padding: 7px 20px; border-radius: 2px; }
.featured-product .product-title .product-list .pr-title .pr-title-btn:hover { background: #a8a8ce; transition: .3s; }

.news { margin: 50px 0; }
.news h2 { font-size: 30px; font-family: "Roboto-b"; color: #4c3019; text-align: center; margin: 30px 0; }
.news .margin20 { margin: 20px 0; }
.news .margin20 .news-content .new-img a { display: inline-block; }
.news .margin20 .news-content .new-img a img { height: 187px; width: 100%; }
.news .margin20 .news-content .news-description .news-des-name { color: #4c3019; font-family: "Arialb"; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; text-transform: uppercase; margin: 10px 0; }
.news .margin20 .news-content .news-description .news-des-name:hover { color: #d6690f; }
.news .margin20 .news-content .news-description .news-date { color: #999999; font-style: italic; padding: 10px 0; border-top: solid 1px #999999; border-bottom: solid 1px #999999; display: inline-block; width: 100%; }
.news .margin20 .news-content .news-description .news-date .date-time { float: left; font-style: italic; }
.news .margin20 .news-content .news-description .news-date .news-comment { float: right; font-style: italic; }
.news .margin20 .news-content .news-description .news-content { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box; height: 60px; }

footer { font-family: "Arial"; font-size: 12px; background: #673200; color: #fff; padding: 20px 0; line-height: 2; }
footer .footer-info p { margin: 10px 0; }
footer .footer-info i { font-size: 16px; margin: 0 5px; }
footer .footer-menu { margin: 20px 0; }
footer .footer-menu .footer-aboutus { display: inline-block; width: 45%; padding: 0 15px; }
footer .footer-menu .footer-aboutus ul.about-us { list-style-type: disc; }
footer .footer-menu .footer-policy { display: inline-block; width: 45%; padding: 0 15px; }
footer .footer-menu .footer-policy ul.policy { list-style-type: square; }
footer .footer-menu ul li { margin: 10px 0; }
footer .footer-facebook .fanpage-iframe { margin: 15px 0; }
footer .footer-title { font-family: "Arialb"; font-size: 18px; text-transform: uppercase; margin: 10px 0; }
footer .footer-category { font-family: "Arialb"; font-size: 13px; text-transform: uppercase; }

.pr-name-right{
	font-family: 'Roboto-B';
	font-size: 24px;
	color: #f49527;
	text-transform: uppercase;
}
header .hd-menu ul li ul li a {padding: 10px 15px;}
.padding5{
	padding-left: 5px;
	padding-right: 5px;
}
.row_5p{
	margin-left: 5px;
}
.row_5p{
	margin-right: 5px;
}
.pr-right-content{
	margin: 25px 0;
}
.featured-product{
	margin: 0 15px;
}
.list_page_news a{
	display: inline-block;

}
.list_page_news a img{
	width: 100%;
}
.prdetail-name{
	font-size: 18px;
	font-family: 'Roboto-b';
	color: #f49527;
	text-transform: uppercase;
}
.prdetail-price{
	font-size: 18px;
	font-family: 'Roboto-b';
	color: #f49527;
}
.prdetail-status, .prdetail-ship,.prdetail-desc,.detail-hotline{
	font-size: 14px;
	color: #333333;
	font-family: 'Roboto';
	margin: 10px 0;
}
.prdetail-desc{
	padding: 10px 0;
	border-top: solid 1px #dbdbdb;
	border-bottom: solid 1px #dbdbdb;
}
.detail-hotline i{
	color: #f49527;
}
.detail-hotline span{
	color: #f49527;
	font-size: 18px;
	font-family: 'Roboto-b';
}
.prdetail-content{
	margin-left: 15px;
}
.prdetai-img img{
	width: 100%;
	height: 300px;
}
.detail-content{
	margin: 20px 0;
}
.btnsubmitp{
	display: inline-block;
	width: 45px;
	height: 35px;
	position: absolute;
}
.btnsubmitp button,.btnsubmitp button img{
	width: 100%;
	height: 35px;
}
.product-relate .product-list{
	padding: 5px;
	border: solid 1px #c8c8c8;
}
.product-relate .product-list img{
	position: relative;
}
.product-relate .product-list .pr-img a{
	width: 100%;
	display: inline-block;
}
.product-relate .product-list .pr-img a img{
	width: 100%;
	height: 190px;
}
.product-relate .product-list .pr-title:before {
	content: '';
	top: 0;
	left: 4%;
	right: 0;
	position: absolute;
	background: #ef6e0a;
	width: 90%;
	height: 1px;
}
.product-relate .product-list .pr-title {
	position: relative;
	text-align: center;
	line-height: 2;
	margin: 20px 0 10px 0;
}
.product-relate .product-list .pr-title .pr-title-btn {
    background: #8f8f91;
    color: #fff;
    padding: 7px 20px;
    border-radius: 2px;
}
.product-relate  .product-list .pr-title .pr-title-btn:hover {
    background: #f49527;
    transition: .3s;
}
.product-relate .product-list .pr-title .pr-title-price {
    color: #ff6f00;
    font-family: "Arial";
}
.product-relate  .product-list .pr-img {
	position: relative;
}
.product-relate .product-list .pr-title .pr-title-name {
    color: #222222;
    font-size: 14px;
    font-family: "Arialb";
    transition: .5s;
}
.product-relate .product-list .pr-title .pr-title-name:hover{
	    color: #f49527;
	    transition: .5s;
}
.product-relate  .product-list .pr-img .pr-img-sale {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
}
.product-relate .product-list .pr-img .pr-img-sale .sale-before:before {
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	border-left: 35px solid #fff0;
	border-right: 35px solid #fff0;
	border-bottom: 35px solid #e84949ed;
	/* background: #f49527; */
	width: 20px;
	height: 20px;
	z-index: 0;
}
.product-relate .product-list .pr-img .pr-img-sale .sale-before {
	transform: rotate(45deg);
	text-align: center;
	position: relative;
	margin-top: -14px;
	margin-left: 16px;
}
.product-relate  .product-list .pr-img .pr-img-sale .sale-before p {
	position: relative;
	display: inline-block;
	margin-top: 14px;
	z-index: 1;
	color: #Fff;
	margin-top: 15px;
	margin-left: 17px;
}
/* .btnsubmitp input{
	width: 100%;
	height: 35px;
	background: #fa6a01;
	border: none;
}
.btnsubmitp i{
	    position: absolute;
   top: 7px;
    left: 7px;
    font-size: 20px;
    color: #f6f0e6;
} */
	.adver-company{
		width: 70%;
		display: inline-block;
	}
	.iframe-video{
		width: 29%; display: inline-block;
	}
	.menubn-right ul li a:hover{
		background: none !important;
		color: #000 !important;
	}